<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Patagonia Baggies Longs Shorts - Men&apos;s 7&quot; Inseam</string>
		<key>Comment</key>
		<string>$34.93 - $49.00</string>
		<key>Photo</key>
		<string>p1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s
O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s
O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s
O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s
O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s
O&apos;Neill Epic 4/3mm Full Wetsuit - Men&apos;s</string>
		<key>Comment</key>
		<string>$184.95</string>
		<key>Photo</key>
		<string>p2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Wavefarer Board Shorts - Men&apos;s 19&quot; Outseam</string>
		<key>Comment</key>
		<string>$33.83 - $69.00</string>
		<key>Photo</key>
		<string>p3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Carve Designs Cruz Rashguard - Women&apos;s</string>
		<key>Comment</key>
		<string>$27.83 - $56.00</string>
		<key>Photo</key>
		<string>p4</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia R0 Sun Long-Sleeve T-Shirt - Men&apos;s</string>
		<key>Comment</key>
		<string>$23.83 - $49.00</string>
		<key>Photo</key>
		<string>p5</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Reactor 3/2mm Full Wetsuit - Men&apos;s</string>
		<key>Comment</key>
		<string>$114.95</string>
		<key>Photo</key>
		<string>p6</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Epic 3/2 Full Wetsuit - Men&apos;s</string>
		<key>Comment</key>
		<string>$164.95</string>
		<key>Photo</key>
		<string>p7</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Hyperfreak FUZE 3mm Wetsuit - Men&apos;s</string>
		<key>Comment</key>
		<string>$269.95</string>
		<key>Photo</key>
		<string>p8</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Basic Skins Long-Sleeve Tee Rashguard - Men&apos;s</string>
		<key>Comment</key>
		<string>$32.95</string>
		<key>Photo</key>
		<string>p9</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill O&apos;riginal FUZE 5/4mm Wetsuit with Hood - Men&apos;s</string>
		<key>Comment</key>
		<string>$299.95</string>
		<key>Photo</key>
		<string>p10</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Baggies Longs Shorts - Men&apos;s 7&quot; Inseam</string>
		<key>Comment</key>
		<string>$34.93 - $49.00</string>
		<key>Photo</key>
		<string>s1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Wavefarer Board Shorts - Men&apos;s 19&quot; Outseam</string>
		<key>Comment</key>
		<string>$33.83 - $69.00</string>
		<key>Photo</key>
		<string>s2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Carve Designs Cruz Rashguard - Women&apos;s</string>
		<key>Comment</key>
		<string>$27.83 - $56.00</string>
		<key>Photo</key>
		<string>s3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia R0 Sun Long-Sleeve T-Shirt - Men&apos;s</string>
		<key>Comment</key>
		<string>$23.83 - $49.00</string>
		<key>Photo</key>
		<string>s4</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Carve Designs Beacon One-Piece Swimsuit - Women&apos;s</string>
		<key>Comment</key>
		<string>$52.93 - $76.00</string>
		<key>Photo</key>
		<string>s5</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>O&apos;Neill Basic Skins Long-Sleeve Tee Rashguard - Men&apos;s</string>
		<key>Comment</key>
		<string>$32.95</string>
		<key>Photo</key>
		<string>s6</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Carve Designs Sanitas One-Piece Swimsuit</string>
		<key>Comment</key>
		<string>$21.83 - $88.00</string>
		<key>Photo</key>
		<string>s7</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>prAna Ramba Bikini Bottoms - Women&apos;s</string>
		<key>Comment</key>
		<string>$24.83 - $50.00</string>
		<key>Photo</key>
		<string>s8</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>TYR Phoenix Splice Maxfit Swimsuit - Women&apos;s</string>
		<key>Comment</key>
		<string>$51.93 - $75.00</string>
		<key>Photo</key>
		<string>s9</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>NRS H2Core Rashguard - Men&apos;s</string>
		<key>Comment</key>
		<string>$44.95</string>
		<key>Photo</key>
		<string>s10</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Toad&amp;Co Dakotah Travel Shirt - Women&apos;s</string>
		<key>Comment</key>
		<string>$69.00</string>
		<key>Photo</key>
		<string>t1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Bill Adler Design Stretch Travel Belt - Men&apos;s</string>
		<key>Comment</key>
		<string>$19.50</string>
		<key>Photo</key>
		<string>t2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Dorfman Pacific Packable Travel Hat</string>
		<key>Comment</key>
		<string>$11.83</string>
		<key>Photo</key>
		<string>t3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>REI Co-op Adventures Travel Long-Sleeve Shirt - Men&apos;s</string>
		<key>Comment</key>
		<string>$43.93</string>
		<key>Photo</key>
		<string>t4</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>The North Face Folding Travel Rain Jacket - Men&apos;s</string>
		<key>Comment</key>
		<string>$96.73</string>
		<key>Photo</key>
		<string>t5</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Mountain Hardwear Citypass Travel Dress</string>
		<key>Comment</key>
		<string>$62.73</string>
		<key>Photo</key>
		<string>t6</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Nano Puff Vest - Women&apos;s</string>
		<key>Comment</key>
		<string>$149.00</string>
		<key>Photo</key>
		<string>t7</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Better Sweater Vest - Men&apos;s</string>
		<key>Comment</key>
		<string>$99.00</string>
		<key>Photo</key>
		<string>t8</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Better Sweater Vest - Women&apos;s</string>
		<key>Comment</key>
		<string>$99.00</string>
		<key>Photo</key>
		<string>t9</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Patagonia Bivy Hooded Down Vest - Women&apos;s</string>
		<key>Comment</key>
		<string>$179.00</string>
		<key>Photo</key>
		<string>t10</string>
	</dict>
</array>
</plist>
